@import 'tailwindcss';

:root {
  --background: #f1faee;
  --foreground: #1b263b;
  --primary: #25d366;
  --secondary: #075e54;
  --selected: #2e2f2f;
  --hover: #f0f0f0;
  --icon: #111b21;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-selected: var(--selected);
  --color-hover: var(--hover);
  --color-icon: var(--icon);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111b21;
    --foreground: #e0e1dd;
    --primary: #25d366;
    --secondary: #075e54;
    --selected: #303131;
    --icon: #e0e1dd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
